/* Button */

.btn, button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-btn {
    font-size: 1.1rem;
    background-color: #FFF;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color 500ms;
}

.main-btn:hover {
    color: #FFF;
    background-color: var(--secondary-font-color);
}

.body-btn {
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color 500ms;
}

.body-btn:hover,
.body-btn:focus {
    color: var(--main-font-color-dark);
}

.btn-underline::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-font-color);
    transition: background-color 500ms;
}

.btn-underline:hover::before,
.btn-underline:focus::before {
    background-color: var(--main-font-color-dark);
}

.no-link-btn {
    cursor: pointer;
}

.footer-btn {
    font-size: 1.5rem;
    color: #FFF;
    position: relative;
    /* text-transform: none; */
    transition: color 500ms;
}

.footer-btn:hover,
.footer-btn:focus {
    color: var(--secondary-font-color);
}

.footer-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background-color: #FFF;
    transition: background-color 500ms;
}

.footer-btn:hover::before,
.footer-btn:focus::before {
    background-color: var(--secondary-font-color);
}