/* Order */
.order{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.order-sub-section {
    width: 100%;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 3rem 0 0 0;
}

.order-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.order-dataset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.order-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date-hour {
    display: grid;
    grid-template-columns: 1fr 12rem;
    gap: 2rem;
}

#address-alert {
    display: none;
}

.order h4 {
    margin: 0;
}

.menu-preview {
    width: 100%;
    height: 18rem;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 8px #00000020;
    border-radius: 4rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 0.1rem 27rem;
    gap: 2rem;
    position: relative;
    padding: 2rem;
    padding-left: 20rem;
}

.order-menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem 0 0 0;
}

.menu-preview-plus {
    height: 100%;
    display: flex;
    align-items: center;
}

.people-field {
    width: 29rem;
    align-self: flex-end;
}

.sub-dataset{
width: 100%;
}

.order-recap {
    width: 35rem;
    align-self: flex-end;
}

.order-right {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-recap a {
    align-self: flex-end;
}

.required {
    font-weight: 900;
    color: red;
}