/* Header */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
    z-index: 1;
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-menu {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: .6rem;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1500;
}

.icon-box {
    width: 18px;
    height: 12px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.icon-box i {
    position: absolute;
    display: block;
    height: 2px;
    background: #FFF;
    width: 18px;
    left: 0;
    transition: all 300ms;
}

.toggle-menu .top-line {
    top: 0;
}

.toggle-menu .middle-line {
    top: 5px;
}

.toggle-menu .bottom-line {
    top: 10px;
}

.nav-list {
    list-style: none;
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 0;
    transform: scale(0);
}

.nav-item {
    margin: 0 2.4rem;
    border: none;
}

.nav-link {
    position: relative;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color 200ms;
}

.nav-link:hover {
    color: #FFF;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFF;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    transition: width 200ms;
}

.nav-link:hover::before {
    width: 100%;
}

.active::before {
    width: 100%;
    left: 0;
    transform: initial;
    bottom: -3px;
}

.login {
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.6rem;
    background-color: var(--body-font-color-light);
    color: var(--body-font-color);
    font-size: 1.6rem;
    border-radius: 50%;
}